@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat/montserrat-v12-latin-100.c8fb2f714bbc.woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat/montserrat-v12-latin-100italic.d1f3f2d02ee4.woff");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat/montserrat-v12-latin-200.edbce16a90aa.woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat/montserrat-v12-latin-200italic.d7bbb730d9b5.woff");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat/montserrat-v12-latin-300.5e86df2cad22.woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat/montserrat-v12-latin-300italic.37c74a8d2d0d.woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat/montserrat-v12-latin-regular.f29d2b855969.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat/montserrat-v12-latin-italic.22e7b04e5f2a.woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat/montserrat-v12-latin-500.991b453bf90a.woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat/montserrat-v12-latin-500italic.f3d41e4cdcc2.woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat/montserrat-v12-latin-600.f6dc6096f489.woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat/montserrat-v12-latin-600italic.02c4833312d9.woff");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat/montserrat-v12-latin-700.957e93fbbe13.woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat/montserrat-v12-latin-700italic.ca627c5ccc65.woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat/montserrat-v12-latin-800.756655905d91.woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat/montserrat-v12-latin-800italic.a69f0add9d86.woff");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat/montserrat-v12-latin-900.186cae8091da.woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat/montserrat-v12-latin-900italic.43b527fe7725.woff");
  font-weight: 900;
  font-style: italic;
}