body{
   margin-top: 70px;
}
/* Custom navbar style */
.navbar-static-top {
   margin-bottom: 19px;
}
.navbar-default .navbar-nav>li>a {
   cursor: pointer;
}
/* Textarea not resizeable */
textarea {
   resize:none
}

.pagination-btn {
    background-color:#acd;
    color:#146;
    margin:7px;
}

.mhs-add {
    background-color:#38b77a;
    font-size:150%;
    font-weight:bold;
    width:35px;
    height:35px;
    text-align:center;
    vertical-align:middle;
    color:#FFF;
    border-radius:30px;
}

.mhs-add:hover{
    color:#FFF;
    background-color:#4dd694;
}

.friend-info {
    margin: 0px 4px 4px 0px;
    background-color:#dbe0df;
    font-size:150%;
    font-weight:bold;
    width:35px;
    height:35px;
    text-align:center;
    vertical-align:middle;
    color:#575b5a;
    border-radius:30px;
}

.friend-info:hover{
    color:#575b5a;
    background-color:#FFF;
}

.friend-delete {
    margin: 0px 4px 4px 0px;
    background-color:#db2113;
    font-size:150%;
    font-weight:bold;
    width:35px;
    height:35px;
    text-align:center;
    vertical-align:middle;
    color:#FFF;
    border-radius:30px;
}

.friend-delete:hover{
    color:#FFF;
    background-color:#ff5b4f;
}
   
    