 {% extends "lab_4/layout/base.html" %}
 {% load staticfiles %}
    {% block content %}
    <center>
    <img src = "{% static "lab_4/Profil.png" %}" height ="200" width = "200" alt="My image"/>
    </center>
    <h1>Portofolio</h1>
    <hr/>
    <section name="bio">
        <h2>Biografi</h2>
        <p>
            {{content}}
        </p>    
    </section>
    <hr/>
    <section name="about_me">
        <h2>Daftar</h2>
        <ul>
            {% for ii in about_me %}
            <li> {{ ii }} </li>
            {% endfor %}
        </ul>
    </section>
    <hr/>
    <section name="form">
        <h2>Kirim Pesan</h2>
        <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
            {% csrf_token %}
            {{ message_form }}
            <br>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
	<font color = "#660000">
		<h3>{{ errorOpening }}</h3></font>
	<h4>{{ errorOpeningTwo }}
	<ul>
            {% for key, values in errorForm.items %}
            <li> {{ values }} </li>
            {% endfor %}
        </ul>
	</h4>
    </section>
    {% endblock %}

