{% extends "lab_2/layout/base.html" %}
{% block content %}
	<script type="text/javascript">

function cekInputKegiatan() {
	var testest     = document.getElementById("testest");
	var elemen      = document.getElementById("activity");
	testest.innerHTML = elemen.value.length;
	if (elemen.value.length > 60) {
		elemen.setCustomValidity("Nama kegiatan tidak boleh lebih dari 60 karakter.");
		testest.style.color = "rgb(180,0,0)";
		testest.style.fontWeight = "bold";
	} else if (elemen.value.length == 0) {
		elemen.setCustomValidity("Nama kegiatan tidak boleh kosong.");
		testest.style.color = "rgb(180,0,0)";
		testest.style.fontWeight = "bold";
	} else {
		elemen.setCustomValidity("");
		testest.style.color = "rgb(0,0,0)";
		testest.style.fontWeight = "normal";
	}
}

function cekInputTanggal() {
	var elemenJam  = document.getElementById("date");
	if (elemenJam.value.length > 0) {
		elemenJam.setCustomValidity("");
	} else {
		elemenJam.setCustomValidity("Tanggal tidak boleh kosong");
	}
}

	</script>
<h3 style="text-align: center">Hai semua, berikut adalah Catatan Harianku!!!</h3>
<br><br>
<div class="row">
    <div class="col-md-6 col-xs-6">
        <table align="center" style="text-align: center">
            <tr>
                <th>Tanggal</th>
                <th>Yang akan dikerjakan</th>
            </tr>
            {% for diary_data in diary_dict %}
                <tr>
                    <td class="date">{{ diary_data.date }}</td>
                    <td class="activity">{{ diary_data.activity }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-md-6 col-xs-6">
        <form method="POST" action="add_activity/">
            {% csrf_token %}
            <table>
                <tr>
                    <td>
                        Tanggal
                    </td>
                    <td>
                        <input type="datetime-local" name="date" id="date" required="required"
   			 oninput="cekInputTanggal()"
       			 oninvalid="cekInputTanggal()"
	   		 onpaste="cekInputTanggal()"
   			/>
			<h7><span id = "testJam"> </span></h7>
			<center><i><font color="#880000"><span id="pesanErrTanggal"><h7>{{ errorDateBox }}</h7></span></font></i></center>
                    </td>
                </tr>
                <tr>
                    <td>
                        Kegiatan
			<center><h7><span id = "testest">0</span>/60</h7></center>
                    </td>
                    <td>
			<input type="text" name="activity" id="activity" size="25" required="required"
			oninvalid="cekInputKegiatan()"
   			oninput="cekInputKegiatan()"
			onpaste="cekInputKegiatan()"/><br>
			<center><i><font color="#880000"><h7>{{ errorActivity }}</h7></font></i></center>
                    </td>
                </tr>
            </table>
            <button type="submit" class="button btn-success">Submit</button>
        </form>
    </div>
</div>
{% endblock %}
