{% extends "lab_9/layout/base.html" %}
{% block content %}
<!-- Content Here -->
<div class="pojok-kanan">
</div>
<br>
<div class="panel panel-default">
    <div class="panel-heading">
        <h2> [Session] Profile </h2>
    </div>
    <div class="panel-body">
        <p> Username : {{ author }} </p>
        <p> NPM : {{kode_identitas}} </p>
        <p> Status : {{ role }} </p>
    </div>
    <div class="panel-footer">
        <a href="{% url 'lab-9:auth_logout' %}" class="btn btn-danger pull-right" onclick="return confirm('Keluar?')">
            Logout </a>
        <a href="{% url 'lab-9:cookie_login' %}" class="btn btn-info"> Masuk Halaman Cookies </a>
    </div>
</div>

<div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-justified" role="tablist">
    {% for item in item_list %}
        <li role="presentation" {%if forloop.counter == 1 %}  class="active" {% endif %} >
            <a href="#{{item.name}}" aria-controls="home" role="tab" data-toggle="tab"> {{item.name_capital}} </a>
        </li>
        {% endfor %}
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
    {% for item in item_list %}
        <div role="tabpanel" class="tab-pane{%if forloop.counter == 1 %} fade in active{% endif %}" id="{{item.name}}">
            {% include 'lab_9/tables/drones.html' %}
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}
