{% load tags %}
<div class="panel panel-info">
    <div class="panel-heading">
        <h2> Daftar {{item.name_capital}} : {{ item.lists | length}} </h2>
        <a href="{% url 'lab-9:clear_session_item' item.name %}" class="btn btn-danger" onclick="return confirm('Reset data?')">
            Reset Favorit {{item_name}}
        </a>
    </div>
    <div class="panel-body">
        <table class="table">
            <thead>
            <th> No</th>
            <th> Nama</th>
            <th> Harga</th>
            <th> Jumlah</th>
            <th> Aksi </th>

            </thead>
            <tbody>
            {% for elem in item.lists %}
            <tr>
                <td> {{ forloop.counter }}</td>
                <td> {{ elem.name }}</td>
                <td> {{ elem.price|rupiah_format }}</td>
                <td> {{ elem.quantity }}</td>
                <td>
                    <div class="tooltip">
                    {% if not elem.id in item.fav %}
                    <a href="{% url 'lab-9:add_session_item' item.name elem.id %}" class="fa fa-star unchecked"></a>
                    <span class="tooltiptext">Tambah<br>Favorit</span>
                    {% else %}
                    <a href="{% url 'lab-9:del_session_item' item.name elem.id %}" class="fa fa-star checked"></a>
                    <span class="tooltiptext">Hapus<br>Favorit</span>
                    {% endif %}
                    </div>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
