<!-- templates/lab_5/partials/header.html -->
<nav>
  <div class="container-navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="">Home</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
	  <li><a href="{% url 'lab-7:index' %}#form"> Daftar Mahasiswa </a></li>
            <li><a href="{% url 'lab-7:friend-list' %}"> Daftar Teman </a> </li>
	  </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

