{% extends "lab_7/layout/base.html" %}

{% block content %}
    <section name="friend-list" id="friend-list">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8">
                    <h2> Friend Fasilkom</h2>
                    <div id="friend-list" class="list-group">

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascript %}
    <script>
        var tambahkanOops = function(lengthData) {
            if (lengthData == 0){
                $(".container").append('<div class="alert alert-danger text-center"><strong>Oops!</strong> Tidak ada mahasiswa</div>');
            }
        };
        
		var deletefriend = function(id) {
			
			$.ajax({
            method: "POST",
            url: "{% url "lab-7:delete-friend" %}",
            data: {id:id},
            success : function (status) {
                $("#friend-" + id).remove();
                tambahkanOops($("#friend-list").children().length - 1);
            },
            error : function (error) {
				alert("Penghapusan teman gagal");
            }
			});
			};
			
        $( document ).ready(function () {
			
            {# lengkapi pemanggilan ajax berikut untuk mengambil daftar teman yang ada di database #}
            $.ajax({
                method: "GET",
				url: "{% url "lab-7:get-friend-list" %}",
                success: function (response) {
				lst = response.friend_list;
                tambahkanOops(lst.length);
				for (fr in lst) {
					html = '<div class="list-group-item clearfix" id=' + 'friend-' + lst[fr].id +'>' +
					    lst[fr].friend_name + " " + lst[fr].npm;
					html += '<span class="pull-right"> <a href="' + "{% url 'lab-7:get-friend-detail' %}?id=" + lst[fr].id + '"><span class="btn btn-xs btn-default friend-info"> i </span></a>'
						+ '<span class="btn btn-xs btn-default friend-delete" onClick="deletefriend('
					    + "'" + lst[fr].id + "')" + '">'
					    + "x</span></span></div>";
					$("#friend-list").append(html);
                }},
                error: function(error){
					alert("Data tidak dapat dimasukkan");
                }
            });
        });
    </script>
{% endblock %}
