{% extends "lab_7/layout/base.html" %}

{% block content %}
    <style>
      #map {
        width: 100%;
        height: 400px;
        background-color: grey;
      }
    </style>

    <section name="friend-list" id="friend-list">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8">
                    <h2>Friend Detail</h2>
                    <div id="friend-list" class="list-group">
                        <p>Name: {{mhs_name}}</p>
                        <p>Student ID: {{detail.npm}}</p>
                        <p>Address:  {{detail.alamat_mhs}}</p>
                        <p>Post Code:  {{detail.kd_pos_mhs}}</p>
                        <p>Birth Place:  {{detail.kota_lahir}}</p>
                        <p>Birth Date: {{detail.tgl_lahir}}</p>
                        <p>Angkatan: {{detail.program.0.angkatan}}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}