{% extends "lab_1/layout/base.html" %}
{% load staticfiles %}
{% block content %}
	<center>
		<h1>Hello my name is {{ author }}</h1>
    	<article>I am {{ age }} years old</article>
    	<br><br><br>
	<span id="blink"><h1>Or am I?</h1></span>
	</center>
{% endblock %}

{% block javascript %}
<script type="text/javascript">

var kenaikan = 40;

function blinkIt() {
	var b = document.getElementById("blink");
	// b.innerHTML = b.style.color;
	var warna_b = b.style.color;
	warna_b = warna_b.replace(/[^\d,]/g, '').split(',');
	warna_b[0] = parseInt(warna_b[0]) + kenaikan;

	if (warna_b[0] >= 255)
	{
		warna_b[0] = 255;
		kenaikan *= -1;
	} else if (warna_b[0] <= 0)
	{
		warna_b[0] = 0;
		kenaikan *= -1;
	}
	
	b.style.color = "rgb(" + warna_b[0] + ", " + warna_b[0] + ", " + warna_b[0] + ")";

}
window.onload=init;
function init() {
	document.getElementById("blink").style.color = "#000000";
	setInterval('blinkIt()', 100)
}

</script>
{% endblock %}