<!-- templates/lab_5/partials/footer.html -->
<!-- TODO, CREATE THIS FILE AND ADD copyright symbol -->
<center><p>Hak cipta &copy; Rachmat Ridwan dan Tim Pengajar PPW 2017.<br>Dibuat dengan cinta oleh {{author}}</p></center>
