/* Custom navbar style */
.navbar-static-top{
   margin-bottom: 19px;
}
.navbar-fixed-top {
   background-color: #495C6F;
   color: #fff;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-brand>a:hover {
    color: #fff;
}

.navbar-default .navbar-nav>li>a{
   cursor: pointer;
}
h1,h2,h3,.h1,.h2,.h3{
    color: #fff;
}

.h2 {
    margin-top: 9px;
}

.panel-footer {
    background-color: #1A2B3C;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    box-shadow: 0 0 0 2pt #8594A2;
    border-top: 0px solid #ddd;
}

.panel {
    border-radius:12px;
    border: 0px solid;
}

.panel-default>.panel-heading, .panel-info>.panel-heading {
    color: #333;
    background-color: #4A5D70;
    border-radius: 12px 12px 0px 0px;
    box-sizing: 2px;
    box-shadow: 0 0 0 2pt #8594A2;
    border: 0px solid;
}

.panel-info>.panel-heading {
}

.panel-body {
    background-color: #1A2B3C;
    box-shadow: 0 0 0 2pt #8594A2;
}

h1 {
    font-size:28px;
}
h2{
    font-size:21px;
}
h3{
    font-size:19px;
}

.nav-tabs.nav-justified>li {
    z-index:0;
    background-color: #3A4B5C
    z-index:0;
    border-bottom: 0;
    height: 50px;
}

.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:hover {
    font-size:18px;
    font-weight:600;
    color: #FFF;
    background-color: #3A4B5C;
    border-radius: 12px;
}

.nav-tabs.nav-justified>.active>a{
    border: 2px solid #8594A2;
    border-radius: 12px;
    color:#FFF;
}

.nav-tabs.nav-justified>.active>a:hover {
    
    border: 2px solid #8594A2;
    background-color: #495D6F;
}

.nav-tabs.nav-justified>.active>a:focus {
    
    border: 4px solid #8594A2;
    background-color: #5D7184;
}

.nav-tabs.nav-justified>li>a, .nav-tabs.nav-justified>li>a:focus {
    border: 2px solid #3F5469;
    border-radius: 12px;
    color:#FFF;
}

.nav-tabs.nav-justified>li>a {
    border: 2px solid transparent;
    border-radius: 12px;
    height: 50px;
}

.nav-tabs.nav-justified>li>a:hover {
    border: 2px solid #3F5469;
    background-color: #233547;
}

.nav-tabs.nav-justified>li>a:focus {
    border: 4px solid #3F5469;
    background-color: #324558;
    
}

.fa-star, .fa-star:hover, fa-star:focus {
    text-decoration: none;
    font-size:20px;
    color:#8D9CDA;
    -webkit-text-stroke: 2px #8D9CDA;
}

.unchecked {
    color:#58647B;
    -webkit-text-stroke: 2px #7F8F9F;
    -webkit-text-fill-color: #1A2B3C;
}

.tooltip {
    position: relative;
    display: inline-block;
    z-index: 2;
    opacity:1;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: fit-content;
    background-color: #A9AFB4;
    color: #23313F;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    top: -12px;
    right: 194%;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #A9AFB4;
}

@media (min-width: 768px) {    
    .tooltip:hover .tooltiptext {
        visibility: visible;
    }
    .nav-tabs.nav-justified>li>a {
        border-radius: 12px;
        border-bottom: 2px solid transparent;
    }
    .nav-tabs.nav-justified>.active>a {
        background-color: #3A4B5C;
    }
    
    .nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>li>a {
        padding-bottom: 25px;
        height: 67px;
    }

    .nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus {
        border-radius: 12px;
        color:#FFF;
    }
    
    .nav-tabs.nav-justified>.active>a:hover {
        background-color: #495D6F;
    }
    
    .nav-tabs.nav-justified>.active>a:focus {
        background-color: #5D7184;
    }

    .panel-info>.panel-heading {
        position:relative;
        z-index:1;
        margin-top: -15px;
    }

    .panel {
        border: 0px solid;
    }
}