{% extends "lab_2/layout/base.html" %}
{% block content %}
{% load staticfiles %}
<h3 style="text-align: center">Hi all, This is my complete biodata</h3>
<table align="center" style="text-align: center">
    {% for bio in bio_dict %}
        <tr>
            <td class="subject">{{ bio.subject }}</td>
            <td class="value">{{ bio.value }}</td>
        </tr>
    {% endfor %}
</table>
<br><br>
<h3 style="text-align: center"> Check out <a href="https://www.youtube.com/channel/UCM-qiC0SS-47KYLxW2Sx3vw">my YouTube channel</a> as well!
	    <br>Just recently I made a
	    <a href="https://timeline.line.me/post/_ddw-z74cYYNhqlzPX17LtjXgYIutTULJIG9o9no/1150320241605064644">tutorial</a>
	    on how to download offline videos in <b><font color = "green">LINE</font></b></h3>

<center><img src="{% static "lab_2_addon/Nichijou.jpg" %}" alt="My image" height="375" width="500"/></center>
{% endblock %}
